.main-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 10px;
    background-color: #c9d7d8;
  }

  .logo-menu {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .logo img {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
  }
  
  .menu {
    max-width: 400px;
    background-color: #ffcc00; 
  }
  
.center-section {
    height: 40px;
    width: 300px;
    background-color: #99ccff;
  }
  
.toolbar-right {
  display: flex;
  align-items: center;
}
  
 