app-tree-panel {
  margin-top: 10px;
  height: 100%;

  /* &:hover {
    background-color: #EFF0F3;
    border-radius: 10px;
  } */
}

app-tree-panel .tree-container {
  display: flex;
  flex-direction: column;
}

app-tree-panel .tree {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 4px 4px 4px 10px;
}

app-tree-panel .button-block {
  display: flex;
  height: 40px;

}

app-tree-panel .tree-node {
  display: flex;
  align-items: center;
}

app-tree-panel .node-element-select-area {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 4px;
  position: relative;

  &:hover {
    background-color: #d1d3e0;
  }

  &:active {
    background-color: #AAAEC2 !important;
    transform: scale(0.997);
  }
}

app-tree-panel .active {
  background-color: #AAAEC2 !important;
}

app-tree-panel .active>p {
  color: white;
}


app-tree-panel p {
  display: flex;
  flex: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
}

app-tree-panel a {
  display: flex;
  align-items: center;

  width: 16px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100%;
}

app-tree-panel .tree-element-icon {
  display: flex;
  width: 20px;
  height: 20px;
  overflow: visible;
  font-size: medium;
  margin-left: 2px;
}

app-tree-panel .warning-icon {
  width: 20px;
  height: 20px;
  overflow: visible;
  margin-right: 4px;
  margin-left: auto;
  display: flex;
}

app-tree-panel .validationError {
  color: #f44336;
  font-weight: bold;
  margin-right: 4px;
  margin-left: auto;
  font-size: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(244, 67, 54, 0.2);
}

app-tree-panel .parent-node-element {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Expand icon */
app-tree-panel .expand-icon {
  color: var(--default-text-color);
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &.collapsed {
    transform: rotate(-90deg);
  }
}