.toggle-wrapper {
  display: flex;
  align-items: center;
}

.toggle-button {
  position: relative;
  width: 130px;
  height: 28px;
  border-radius: 6px;
  overflow: hidden;
  outline: 1px solid #31343b;
}

.toggle-button:hover {
  background-color: #17181a;
}

.toggle-slider {
  position: absolute;
  width: 62px;
  height: 24px;
  /* background-color: #1c1e1f; */
  background-color: #cccccc;
  border-radius: 4px;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
}

.toggle-slider.slide-right {
  transform: translateX(64px);
}

.toggle-options {
  position: relative;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.toggle-icon {
  width: 16px;
  height: 16px;
}

.option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #8C8E95;
  transition: color 0.2s ease;
}

.option.active {
  color: #2f2f2f;
  font-weight: 600;
} 