<div class="control-panel-container">
    <!-- Quick actions - will be sticky -->
    <div class="sticky-actions">
        <app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>
    </div>

    <!-- Scrollable content -->
    <div class="form-scrollable-content">
        <div class="form-container">
            <div class="form-header">
                <span class="form-header-text">Node Properties</span>
                <div class="form-header-actions">                                                
                    <app-node-actions [selectedNode]="selectedNode"></app-node-actions>       
                </div>
            </div>
            <div class="form-body">
                <form [formGroup]="entityForm">
                    <div class="form-flex">
                        <!-- First row: Two inputs in separate columns -->
                        <mat-form-field class="input-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput formControlName="name" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let entity of filteredEntities$ | async"
                                    [value]="entity.logicalName">
                                    <div class="option-content">
                                        <span class="logical-name"> {{entity.logicalName}} </span>
                                        <span class="display-name">{{entity.displayName}}</span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                            <mat-spinner class="loading-spinner" diameter="20" matSuffix *ngIf="isLoading$ | async"></mat-spinner>
                            @if (entityForm.value.name) {
                                <button *ngIf="!(isLoading$ | async)" matSuffix mat-icon-button aria-label="Clear" (click)="entityForm.patchValue({name: ''})">
                                  <span class="form-clear-icon"><mat-icon>close</mat-icon></span>
                                </button>
                              }
                        </mat-form-field>

                        <!-- Second column in first row -->


                        <!-- Second row: Full width input spanning both columns -->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>