<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<form [formGroup]="entityForm">
    <tui-combo-box
        formControlName="name">
        Name
        <tui-data-list-wrapper
            *tuiDataList
            [items]="filteredEntities$ | async">
            <ng-template let-item>
                {{item.logicalName}} {{item.displayName}}
            </ng-template>
        </tui-data-list-wrapper>
    </tui-combo-box>
    
    <div class="tui-form__row">
        <app-loading-indicator [diameter]="20"></app-loading-indicator>
    </div>
</form>