.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: #24272e;
}

html {
  --mat-radio-label-text-font: Inter, sans-serif;
  --mdc-dialog-subhead-font: Inter, sans-serif;
  --mdc-dialog-supporting-text-font: Inter, sans-serif;
  --mdc-dialog-title-text-font: Inter, sans-serif;
  --mat-select-trigger-text-font: Inter, sans-serif;
  --mat-select-value-text-font: Inter, sans-serif;
  --mat-select-option-text-font: Inter, sans-serif;
  --mat-select-option-selected-text-font: Inter, sans-serif;
  --mat-select-option-disabled-text-font: Inter, sans-serif;
  --mdc-filled-text-field-label-text-font: Inter, sans-serif;
  --mdc-outlined-text-field-label-text-font: Inter, sans-serif;
  --mat-form-field-container-text-font: Inter, sans-serif;
  --mat-form-field-label-text-font: Inter, sans-serif;
  --mat-form-field-hint-text-font: Inter, sans-serif;
  --mat-form-field-error-text-font: Inter, sans-serif;
  --mat-form-field-container-text-font: Inter, sans-serif;
  --mat-form-field-label-text-font: Inter, sans-serif;
  --mat-form-field-hint-text-font: Inter, sans-serif;
  --mat-form-field-subscript-text-font: Inter, sans-serif;
  --mdc-plain-tooltip-supporting-text-font: Inter, sans-serif;
  --mat-card-title-text-font: Inter, sans-serif;
  --mat-card-subtitle-text-font: Inter, sans-serif;
  --mat-optgroup-label-text-font: Inter, sans-serif;
  --mat-option-label-text-font: Inter, sans-serif;
  --mat-toolbar-title-text-font: Inter, sans-serif;
  --mat-datepicker-calendar-text-font: Inter, sans-serif;
  --mat-standard-button-toggle-label-text-font: Inter, sans-serif;
  --mat-bottom-sheet-container-text-font: Inter, sans-serif;
  --mat-badge-text-font: Inter, sans-serif;
  --mat-table-header-headline-font: Inter, sans-serif;
  --mat-table-row-item-label-text-font: Inter, sans-serif;
  --mat-table-footer-supporting-text-font: Inter, sans-serif;
  --mdc-snackbar-supporting-text-font: Inter, sans-serif;
  --mdc-extended-fab-label-text-font: Inter, sans-serif;
  --mdc-text-button-label-text-font: Inter, sans-serif;
  --mdc-text-button-label-text-font: Inter, sans-serif;
  --mdc-filled-button-label-text-font: Inter, sans-serif;
  --mdc-outlined-button-label-text-font: Inter, sans-serif;
  --mdc-protected-button-label-text-font: Inter, sans-serif;



  --mdc-text-button-label-text-size: 14px;
  --mdc-text-button-label-text-tracking: 0.03em;
  --mdc-text-button-label-text-weight: 500;
  --mdc-text-button-label-text-transform: none;

  --mdc-filled-button-label-text-size: 13px;
  --mdc-filled-button-label-text-tracking: 0.03em;
  --mdc-filled-button-label-text-weight: 500;
  --mdc-filled-button-label-text-transform: none;

  --mdc-outlined-button-label-text-size: 13px;
  --mdc-outlined-button-label-text-tracking: 0.03em;
  --mdc-outlined-button-label-text-weight: 500;
  --mdc-outlined-button-label-text-transform: none;

  --mdc-protected-button-label-text-size: 13px;
  --mdc-protected-button-label-text-tracking: 0.03em;
  --mdc-protected-button-label-text-weight: 500;
  --mdc-protected-button-label-text-transform: none;

  .mat-expansion-panel-header {
    font-family: Inter, sans-serif;
  }

  .mat-mdc-checkbox .mat-internal-form-field {
    font-family: Inter, sans-serif;
  }

  .mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple) {
    padding-left: 16px !important;
  }

  .mat-mdc-option {
    min-height: 40px;
  }

  .mat-mdc-optgroup-label {
    font-size: 0.85rem;
    font-weight: 600;
    padding-left: 24px;
  }
  
  .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #585d64;
    --mdc-linear-progress-track-color: rgb(202, 200, 214);
    --mdc-linear-progress-track-height: 3px;
    --mdc-linear-progress-active-indicator-height: 3px;
  }

  .mat-mdc-row, .mdc-data-table__content {
    line-height: 1.8rem !important;
    font-family: "Inter", sans-serif !important;
    font-size: 0.85rem !important;
  }
  .mat-mdc-row {
    height: 0.8rem !important;
  }
}


html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #263238;
  --mdc-switch-selected-handle-color: #263238;
  --mdc-switch-selected-hover-state-layer-color: #263238;
  --mdc-switch-selected-pressed-state-layer-color: #263238;
  --mdc-switch-selected-focus-handle-color: #0d1b24;
  --mdc-switch-selected-hover-handle-color: #0d1b24;
  --mdc-switch-selected-pressed-handle-color: #0d1b24;
  --mdc-switch-selected-focus-track-color: #454d64;
  --mdc-switch-selected-hover-track-color: #454b64;
  --mdc-switch-selected-pressed-track-color: #454d64;
  --mdc-switch-selected-track-color: #454c64;
}