@use '@angular/material' as mat;

:root {
  @include mat.tooltip-overrides((supporting-text-size: 0.8rem,
      supporting-text-weight: 300,
      container-color: #0000009c,
    ));

}

:root {
  @include mat.progress-spinner-overrides((active-indicator-color: #5091F4,
    ));
}

:root {
  @include mat.menu-overrides((
    item-label-text-font: Inter,
    item-label-text-size: 1rem,
    item-label-text-color: var(--main-text-color),
    ));
}
