app-code-editor {
    display: flex;
    flex: 1;
    height: 100%;
}

app-code-editor .my-code-editor-contatiner {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.my-code-editor {
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: hidden;
    /* max-height: calc(100vh - var(--header-height) - var(--tab-bar-height) - var(--code-footer-height)); */
}

.cm-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cm-scroller {
    overflow: auto !important;
    font-family: Hack, monospace;
    font-size: small;
    flex: 1 1 auto;
}

.cm-content {
    min-height: 100%;
}