<div class="form-container">
  <div>
    <mat-form-field class="form-field">
      <mat-label>Operator</mat-label>
      <mat-select formControlName="operator">
        <mat-option *ngFor="let option of filterOperators" [value]="option.value">
          <div class="option-content">
            <span>{{option.name}}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Value</mat-label>
      <input matInput
             type="number"
             formControlName="value"
             placeholder="Enter numeric value">
    </mat-form-field>
  </div>
</div>