<h1>Select environment</h1>
<div class="tui-dialog-content">
  <app-loading-indicator [diameter]="50"></app-loading-indicator>
  
  <tui-data-list class="tui-space_vertical-4">
    <tui-opt 
      *ngFor="let environment of environmentsList$ | async" 
      (click)="selectEnvironment(environment)"
      [class.tui-data-list__option_selected]="selectedEnvironment === environment">
      <div class="environment-item">
        <div class="environment-name">{{environment.friendlyName}}</div>
        <div class="environment-url">{{environment.urlName}}</div>
      </div>
    </tui-opt>
  </tui-data-list>
</div>

<div class="tui-form__buttons">
  <button tuiButton appearance="flat" size="m" (click)="closeDialog()">Cancel</button>
  <button tuiButton appearance="primary" size="m" [disabled]="!selectedEnvironment"
    (click)="connectToEnvironment(selectedEnvironment)">Connect</button>
</div>