<ng-container *ngIf="selectedNode$ | async as selected; else elseBlock">
    
    <!-- Entity form -->
    <div *ngIf="selected.nodeName === 'Entity' || selected.tagName === 'entity'">
        <app-entity-form [selectedNode]="selected"></app-entity-form>
    </div>
    
    <!-- Other forms can be added here as needed -->
    <div *ngIf="selected.nodeName === 'Fetch'">
        <app-root-form [selectedNode]="selected"></app-root-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Attribute'">
        <app-attribute-form [selectedNode]="selected"></app-attribute-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Filter'">
        <app-filter-form [selectedNode]="selected"></app-filter-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Condition'">
        <app-filter-condition-form [selectedNode]="selected"></app-filter-condition-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Link Entity'">
        <app-link-entity-form [selectedNode]="selected"></app-link-entity-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Order'">
        <app-order-form [selectedNode]="selected"></app-order-form>
    </div>
    
    <div *ngIf="selected.nodeName === 'Value'">
        <app-value-form [selectedNode]="selected"></app-value-form>
    </div>

</ng-container>

<ng-template #elseBlock>
    <div>Select a node to edit</div>
</ng-template>