<ng-container *ngIf="selectedNode$ | async as selected; else elseBlock">
    
    <ng-container [ngSwitch]="selected.nodeName">
        <app-entity-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.Entity.Name'></app-entity-form>
        <app-root-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.Fetch.Name' ></app-root-form>
        <app-attribute-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.Attribute.Name'></app-attribute-form>
        <app-filter-form [selectedNode]="selected"  *ngSwitchCase='nodeTypes.Filter.Name'></app-filter-form>
        <app-filter-condition-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.Condition.Name'></app-filter-condition-form>
        <app-link-entity-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.Link.Name'></app-link-entity-form>
        <app-order-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.Order.Name'></app-order-form>
        <app-value-form [selectedNode]="selected" *ngSwitchCase='nodeTypes.Value.Name'></app-value-form>
    </ng-container>

</ng-container>

<ng-template #elseBlock>
    <div>no data</div>
</ng-template>