<div class="button-container">

    

    <button mat-flat-button color="primary" type="button" class="custom-execute-button"       [disabled]="!(buttonDisabled$ | async)?.isValid"       (click)="execute()">
      <div class="button-content">
        <img class="tree-element-icon prevent-select" src="assets/icons/execute.svg" alt="entity-icon">
        <span class="custom-button-text">Execute</span>
      </div>
    </button>

    <button mat-button class="parse-button" (click)="parseRequest()">
      <div class="button-content">
        <img class="tree-element-icon prevent-select" src="assets/icons/parse.svg" alt="entity-icon">
        <span class="custom-button-text">Parse</span>
      </div>
    </button>

    <button mat-button class="save-button button-icon-only" matTooltip="Coming soon">
      <div class="button-content">
        <img class="tree-element-icon prevent-select" src="assets/icons/save.svg" alt="entity-icon">      
      </div>
    </button>

    <button mat-button class="share-button button-icon-only"  matTooltip="Coming soon">
      <div class="button-content">
        <img class="tree-element-icon prevent-select" src="assets/icons/share.svg" alt="entity-icon">      
      </div>
    </button>

    <button mat-button class="open-button button-icon-only" matTooltip="Coming soon">
      <div class="button-content">
        <img class="tree-element-icon prevent-select" src="assets/icons/open.svg" alt="entity-icon">      
      </div>
    </button>
</div>