<div class="button-container">
  <div class="button-container-left">
    <div class="custom-query-name-button">
      <div class="button-content">
        <form [formGroup]="testForm">
          <tui-input-inline class="tui-button-input">
            <input formControlName="testValue1" tuiTextfield />
          </tui-input-inline>
        </form>
        <div class="query-name-gutter"></div>
        <div class="chevron-container" (click)="toggleQueryOptions()">
          <tui-icon icon="@tui.chevron-down" class="button-icon" [style.font-size.rem]="1.125"></tui-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container-right">
    <button type="button" class="custom-default-button">
      <tui-icon icon="@tui.plus" class="button-icon" [style.font-size.rem]="1.125"></tui-icon>
    </button>

    <button type="button" class="custom-default-button">
      <tui-icon icon="@tui.download" class="button-icon" [style.font-size.rem]="1.125"></tui-icon>
    </button>

    <button type="button" class="custom-run-button" [disabled]="isButtonDisabled" (click)="execute()">
      <tui-icon icon="@tui.play" class="button-icon" [style.font-size.rem]="1.125"></tui-icon>
      <span class="custom-button-text">Run</span>
    </button>
  </div>
</div>