<div class="form-container">
    <tui-select
        [formControl]="operatorFormControl"
        class="tui-form__row">
        Operator
        <tui-data-list-wrapper
            *tuiDataList
            [items]="filterOperators">
            <ng-template let-item>
                <div class="option-content">
                    <span>{{item.name}}</span>
                </div>
            </ng-template>
        </tui-data-list-wrapper>
    </tui-select>

    <ng-container *ngIf="!(showMultiValueInput$ | async)">
        <tui-select
            [formControl]="valueFormControl"
            class="tui-form__row">
            Value
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(booleanOptions$ | async) ? [
                    (booleanOptions$ | async)?.true,
                    (booleanOptions$ | async)?.false
                ] : []">
                <ng-template let-item>
                    <div class="option-content">
                        <span>{{item.label}} ({{item.value}})</span>
                    </div>
                </ng-template>
            </tui-data-list-wrapper>
        </tui-select>
        <div class="tui-form__row">
            <app-loading-indicator [diameter]="20" loadingKey="booleanOptions"></app-loading-indicator>
        </div>
    </ng-container>
  
    <app-multi-value-form 
        *ngIf="showMultiValueInput$ | async"
        [selectedNode]="selectedNode"
        [attributeValue]="attributeValue"
        [hideOperator]="true">
    </app-multi-value-form>
</div>