<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <form [formGroup]="attributeForm">
        <div class="form-field">
            <label for="attribute-name">Attribute</label>
            <select id="attribute-name" [formControl]="getFormControl(nameInputName)" class="form-control">
                <option value="">Select attribute</option>
                <option *ngFor="let attribute of filteredAttributes$ | async" 
                    [value]="attribute.logicalName">
                    {{attribute.logicalName}} {{attribute.displayName}}
                </option>
            </select>
        </div>
        
        <div class="tui-form__row">
            <app-loading-indicator [diameter]="20"></app-loading-indicator>
        </div>

        <div class="form-field">
            <label for="attribute-alias">Alias</label>
            <input id="attribute-alias" type="text" [formControl]="getFormControl(aliasInputName)" class="form-control">
        </div>
    </form>
</div>
