<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <mat-form-field class="form-field">
        <mat-label>Filter type</mat-label>
        <mat-select [formControl]="filterTypeControl">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of filterTypeOptions" [value]="type.value">
                {{type.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="checkbox-group">
        <mat-checkbox [formControl]="isQuickFindControl">
            Is quick find
        </mat-checkbox>

        <mat-checkbox [formControl]="overrideRecordLimitControl">
            Apply quick find record limit
        </mat-checkbox>

        <mat-checkbox [formControl]="bypassQuickFindControl">
            Bypass quick find record limit
        </mat-checkbox>
    </div>
</div>