<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <div class="form-field">
        <label for="filter-type">Filter type</label>
        <tui-select
            id="filter-type"
            [formControl]="filterTypeFormControl">
            <tui-data-list-wrapper
                *tuiDataList
                [items]="filterTypeOptions">
                <ng-template let-item>
                    {{ item.name }}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-select>
    </div>

    <div class="checkbox-group">
        <tui-checkbox-block [formControl]="isQuickFindFieldsFormControl">
            Is quick find
        </tui-checkbox-block>

        <tui-checkbox-block [formControl]="overrideQuickFindRecordLimitEnabledFormControl">
            Apply quick find record limit
        </tui-checkbox-block>

        <tui-checkbox-block [formControl]="overrideQuickFindRecordLimitDisabledFormControl">
            Bypass quick find record limit
        </tui-checkbox-block>
    </div>
</div>