<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <div class="form-row">
        <tui-checkbox-block [formControl]="fetchAllEntitiesFormControl">
            Fetch all entities
        </tui-checkbox-block>
    </div>

    <div class="form-section">
        <tui-combo-box
            *ngIf="fetchAllEntities$ | async"
            [formControl]="entityNameFormControl">
            Entity
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredEntities$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            *ngIf="!(fetchAllEntities$ | async)"
            [formControl]="linkEntityFormControl">
            Link Entity
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredLinkEntities$ | async)?.OneToManyRelationships || []">
                <ng-template let-item>
                    {{item.ReferencedEntityName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            [formControl]="fromAttributeFormControl">
            From Attribute
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredFromAttributes$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            [formControl]="toAttributeFormControl">
            To Attribute
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredToAttributes$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-select
            [formControl]="linkTypeFormControl">
            Link Type
            <tui-data-list-wrapper
                *tuiDataList
                [items]="linkTypes">
                <ng-template let-item>
                    {{item}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-select>

        <tui-input
            [formControl]="aliasFormControl">
            Alias
        </tui-input>
    </div>
</div>

<div class="checkbox-group">
    <tui-checkbox-block [formControl]="intersectFormControl">
        Intersect
    </tui-checkbox-block>

    <tui-checkbox-block [formControl]="visibleFormControl">
        Visible
    </tui-checkbox-block>
</div>