<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <div class="form-row">
        <tui-checkbox formControlName="fetchAllEntities">
            Fetch all entities
        </tui-checkbox>
    </div>

    <div class="form-section">
        <tui-combo-box
            *ngIf="fetchAllEntities$ | async"
            formControlName="entity">
            Entity
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredEntities$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            *ngIf="!(fetchAllEntities$ | async)"
            formControlName="linkEntity">
            Link Entity
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredLinkEntities$ | async)?.OneToManyRelationships || []">
                <ng-template let-item>
                    {{item.ReferencedEntityName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            formControlName="fromAttribute">
            From Attribute
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredFromAttributes$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-combo-box
            formControlName="toAttribute">
            To Attribute
            <tui-data-list-wrapper
                *tuiDataList
                [items]="(filteredToAttributes$ | async) || []">
                <ng-template let-item>
                    {{item.logicalName}} {{item.displayName}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-combo-box>

        <tui-select
            formControlName="linkType">
            Link Type
            <tui-data-list-wrapper
                *tuiDataList
                [items]="linkTypes">
                <ng-template let-item>
                    {{item}}
                </ng-template>
            </tui-data-list-wrapper>
        </tui-select>

        <tui-input
            formControlName="alias">
            Alias
        </tui-input>
    </div>
</div>

<div class="checkbox-group">
    <mat-checkbox [formControl]="intersectFormControl">
        Intersect
    </mat-checkbox>

    <mat-checkbox [formControl]="visibleFormControl">
        Visible
    </mat-checkbox>

</div>