<div class="form-container">

  <div>
    <mat-form-field class="form-field">
      <mat-label>Operator</mat-label>
      <mat-select [formControl]="operatorFormControl">
        <mat-option *ngFor="let option of filterOperators" [value]="option.value">
          <div class="option-content">
            <span>{{option.name}}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Value</mat-label>
      <mat-select [formControl]="valueFormControl">
        <mat-option *ngFor="let option of picklistOptions$ | async" [value]="option.value">
          <div class="option-content">
            <span class="option-label">{{option.label}}</span>
            <span class="option-value">{{option.value}}</span>
          </div>
        </mat-option>
      </mat-select>
      <app-loading-indicator matSuffix [diameter]="20" loadingKey="picklistOptions"></app-loading-indicator>
    </mat-form-field>
  </div>
</div>