<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <tui-combo-box
        [formControl]="attributeFormControl"
        class="form-field">
        Attribute
        <tui-data-list-wrapper
            *tuiDataList
            [items]="filteredAttributes$ | async">
            <ng-template let-item>
                <div class="option-content">
                    <span class="logical-name">{{item.logicalName}}</span>
                    <span class="display-name">{{item.displayName}}</span>
                </div>
            </ng-template>
        </tui-data-list-wrapper>
    </tui-combo-box>
    <div class="loading-container">
        <app-loading-indicator [diameter]="20" loadingKey="attribute"></app-loading-indicator>
    </div>

    <tui-checkbox-block [formControl]="descendingFormControl">
        Descending Order
    </tui-checkbox-block>
</div>
