<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
  <mat-progress-spinner *ngIf="loading$ | async"
    diameter="50"
    mode="indeterminate">
  </mat-progress-spinner>

  <form [formGroup]="orderForm">
    <mat-form-field class="form-field">
      <mat-label>Attribute</mat-label>
      <input type="text"
             matInput
             formControlName="attribute"
             [matAutocomplete]="attributeAutoComplete">

      <mat-autocomplete #attributeAutoComplete="matAutocomplete">
        <mat-option *ngFor="let option of filteredAttributes$ | async" [value]="option.logicalName">
          <div class="option-content">
            <span class="logical-name">{{option.logicalName}}</span>
            <span class="display-name">{{option.displayName}}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-checkbox formControlName="descending">
      Descending Order
    </mat-checkbox>
  </form>
</div>
