<app-quick-actions [selectedNode]="selectedNode"></app-quick-actions>

<div class="form-container">
    <mat-form-field class="form-field">
      <mat-label>Attribute</mat-label>
      <input type="text"
             matInput
             [formControl]="attributeFormControl"
             [matAutocomplete]="attributeAutoComplete">

      <mat-autocomplete #attributeAutoComplete="matAutocomplete">
        <mat-option *ngFor="let option of filteredAttributes$ | async" [value]="option.logicalName">
          <div class="option-content">
            <span class="logical-name">{{option.logicalName}}</span>
            <span class="display-name">{{option.displayName}}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <app-loading-indicator matSuffix [diameter]="20" loadingKey="attribute"></app-loading-indicator>
    </mat-form-field>

    <mat-checkbox [formControl]="descendingFormControl">
      Descending Order
    </mat-checkbox>
</div>
