.envName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    font-weight: 600;
    
    &:hover {
        cursor: pointer;
        color: var(--main-text-color-hover);
        
        p {
            color: var(--main-text-color-hover);
        }
        
        .chevron-icon {
            color: var(--main-text-color-hover);
        }
    }    
}

.env-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    
    h3, p {
        color: var(--main-text-color);
        z-index: 50;
    }
}

.chevron-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.chevron-icon {
    width: 22px;
    height: 22px;
    color: var(--main-text-color);
}
