.envName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.env-info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.env-info h3, .env-info p{
    color: var(--main-text-color);
    z-index:50
}

.envName:hover{
    cursor:pointer;
}

.envName:hover h3, .envName:hover p{
    color: var(--main-text-color-hover);
}

.chevron-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.chevron-icon {
    width: 22px;
    height: 22px;
    color: var(--main-text-color);
}

.envName:hover .chevron-icon {
    color: var(--main-text-color-hover);
}
